.fix img {
	height: 150px;
	width: 300px;
	position: fixed;
	top:10px;
	left:10px;
 }

.fix h3 {
	font-family: American Typewriter;
	color: #B5BAB9;
	position: fixed;
	top:-10;
	left:400px;
	font-size: 60px;
}

.fix ul {
	list-style-type: none;

}

.fix ul li {
	display: inline-block;
	padding: 50px;

}

.fix ul li a {
    font-size: 20px;
    color: black;
	text-decoration: underline;
	font-family: American Typewriter;
    
}


.fix nav {
   position: fixed;
   top: 65;
   left: 455px;
   z-index: 9999;

}


.shop table {
  	display: block;
 	width: 170px;
 	height:250px;
  	margin: 0 auto;
	padding-top: 200px;
	padding-right: 50%;

}


.shop table img {
  	width: 250px;
	
}

.side table {
  	display: inline;
 	width: 170px;
 	height:250px;
  	margin: 0 auto;
	padding-top: 200px;
	padding-right: 175px;

}

.side table img {
  	width: 250px;
	
}

.side a {
	font-family: American Typewriter;
	font-size: 20px;
	color: #2B8E6D; 
}

.center table {
  	display: inline;
 	width: 150px;
 	height:250px;
  	margin: 0 auto;
	padding-top: 200px;
	padding-right: 50%;

}

.center table img {
  	width: 500px;
	
}

.center a {
	font-family: American Typewriter;
	font-size: 20px;
	color: #00000; 
}

.center p {
	font-family: American Typewriter
}

h4 {
	font-family: American Typewriter
	font-size: 30px;
	color: #00000;
}

.container table {
	align: center;
    display: block;
    float: left;
	position: absolute;
	border: 0 solid #000000;
	border-spacing: 200px;
	padding-top: 20px;
	margin-left: 0px;
	top: 0;
	bottom: 0;


}

.container h1 {
  text-align: center;
  font-family: American Typewriter;
}

.container h2 {
  text-align: center;
  font-family: American Typewriter;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #2B8E6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #B5BAB9;
}


form {
	text-align: center;
	position: relative;

}
