.fix img {
	height: 150px;
	width: 300px;
	position: fixed;
	top:10px;
	left:10px;
 }

.fix h3 {
	font-family: American Typewriter;
	color: #B5BAB9;
	position: fixed;
	top:-10;
	left:400px;
	font-size: 60px;
}

.fix ul {
	list-style-type: none;

}

.fix ul li {
	display: inline-block;
	padding: 50px;

}

.fix ul li a {
    font-size: 20px;
    color: black;
	text-decoration: underline;
	font-family: American Typewriter;
    
}


.fix nav {
   position: fixed;
   top: 65;
   left: 455px;
   z-index: 9999;

}

#fb-root {
	position: fixed;
	top: 10px;
	right: 10px;
}


.shop table {
  	display: block;
 	width: 170px;
 	height:250px;
  	margin: 0 auto;
	padding-top: 200px;
	padding-right: 50%;

}


.shop table img {
  	width: 250px;
	
}
